@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

@import url('./styles/reset.css');

:root {
  --button: #e44848;
  --main: #101828;
  --main-border: #10182833;
  --inputs: #f7f7f7;
  --block-features: #f2f4f7;
  --rating: #ffc531;
  --text: #475467;
  --button-text: #fff;

  font-family: Inter, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
  text-rendering: optimizelegibility;

  background-color: var(--block-features);

  font-synthesis: none;
}
